<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrefour </title>
    <script type="application/javascript"  th:src="@{js/jquery-3.4.1.min.js}"> </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" ></script>



</head>
<body>


<h1>Carrefour </h1>



<div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="#" class="ing">Como funciona o processo de desenvolvimento do Carrefour  ?</a>
                </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Como fazer ?</span></h5>

                    <p>
                        O carrefour trabalha com o conceito de GIT SUBMODULOS , onde temos as extensoes customizadas do hybris espalhadas em varios repositorios tentando assim fazer com que uma aplicacao monolitica tente ser uma aplicacao mais independente .

                        <br/>

                    <p>Segue link do nosso confluence para entender mais sobre o assunto. </p>
                        <p>
                       <a href="https://confluence.keyrus.info/display/LATAM/SUBMODULOS-+CARREFOUR-PROCESSOS" >GIT SUBMODULES CARREFOUR </a>
                        </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title">
                    <a href="#" class="ing">Como eu instalo o hybris com o GIT do Carrefour ?</a>
                </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Como fazer ?</span></h5>

                    <p>1-) Primeiramente voce precisa ter acesso ao repositorio do carrefour</p>
                    <p>2-) Voce precisara de uma base de dados </p>
                    <p>3-) Voce precisara da versao oficial do hybris do carrefour</p>
                    <p>4-) Voce precisara configurar seu  SSH  no bitbucket do carrefour </p>
                    <p>5-) Voce precisara fazer o nosso processo de treinamento  Hybris 123</p>


                    <p>Segue link do nosso confluence para entender mais sobre o assunto. </p>
                    <p>
                        <a href="https://confluence.keyrus.info/pages/viewpage.action?pageId=34999077" >INSTALACAO CARREFOUR  </a>
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title">
                    <a href="#" class="ing">Aonde eu pego essa base de dados ?</a>
                </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Como fazer ?</span></h5>

                    <p>No hybris tem a opcao de trabalhar com qualquer banco de dados , nos temos a opcao de trabalhar no nosso ambiente de desenvolvimento com o banco HSSQLDB  Default do hybris , mas tambem tem a opcao de trabalhar com mysql para ter uma melhor facilidade de fazer consultas nas tabelas</p>


                    <p>Segue link de download da base </p>
                <br/>

                    <p>
                        <a href="https://drive.google.com/open?id=1JViYjvW2OnINSMRXyKT3e_uwNYeBLUkf">Download da base de dados !</a>
                    </p>

                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                <h4 class="panel-title">
                    <a href="#" class="ing">Como funciona esse hybris 123 ?</a>
                </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Como fazer ?</span></h5>

                    <p>O nosso processo de treinamento hybris 123 , aborda diversos assuntos que facilitara muito o seu dia a dia de trabalho no carrefour de uma forma mais simples, para voce entender melhor do que estamos falando de uma olhada no nosso confluence  </p>


                    <br/>
                    <p>
                        <a href="https://confluence.keyrus.info/display/LATAM/Hybris+123"> Hybris 123</a>
                    </p>
                </div>
            </div>
        </div>


        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                <h4 class="panel-title">
                    <a href="#" class="ing">Ja fez nosso Onboarding ? </a>
                </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Conheca nosso Onboarding </span></h5>

                    <p>Voce  e membro novo da keyrus  ? entao conheca nossa pagina de onboarding para esclarecer todas as suas duvidas =)  </p>


                    <br/>
                    <p>
                        <a href="https://confluence.keyrus.info/display/LATAM/Onboarding"> Onboarding </a>
                    </p>
                </div>
            </div>
        </div>


        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                <h4 class="panel-title">
                    <a href="#" class="ing">Que ferramenta e usada para deploy  ? </a>
                </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Como fazer ? </span></h5>

                    <p> No Carrefour para realizar o processo de deploy . e utilizado o Jenkins , com ele fazemos todas as nossas entregas sejam nos ambientes DEV,HOMOLOGACAO,PROD  </p>

                    <br/>

                    <p>O carrefour disponibiliza ambientes de desenvolvimentos para cada time da keyrus que esta alocado no projeto , sendo assim esse ambiente e composto
                        com a base de Producao , banco de dados oracle , ambiente linux </p>

                    <br/>

                    <p>Para acessar esse ambiente voce precisa ter a nossa VPN instalada e configurada </p>
                    <br/>

                    <p>Voce tambem  precisa configurar seu host local </p>

                    <br/>

                </div>
            </div>
        </div>



        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                <h4 class="panel-title">
                    <a href="#" class="ing">Como instalo a VPN ? </a>
                </h4>

            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Como fazer ? </span></h5>

                    <p>Para voce instalar a nossa VPN , e necessario ja estar cadastrado no nosso AD, veja mais no nosso confluence !  </p>

                    <br/>

                   <p>
                       <a href="https://confluence.keyrus.info/display/LATAM/3.1.10+Keyrus+VPN"> VPN KEYRUS </a>
                   </p>

                </div>
            </div>
        </div>




        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                <h4 class="panel-title">
                    <a href="#" class="ing">Quais tecnologias o hybris tem no carrefour   ?</a>
                </h4>

            </div>
            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Hybris </span></h5>

                    <p>O hybris e uma ferramenta privada da SAP que contem diversas tecnologias open source, no carrefour entretanto foram adicionadas mais tecnologias !  </p>

                    <br/>

                    <p>1-) Java</p>
                    <p>2-) Spring Geral</p>
                    <p>3-) BootsStrap</p>
                    <p>4-) Jquery </p>
                    <p>5-) Angular JS </p>
                    <p>6-) Kafka </p>
                    <p>7-)Rabbit MQ</p>
                    <p>8-) Maven  </p>
                    <p>9-) Velocity Manager</p>
                    <p>10-) HTML5 ,Less e CSS3, JSP</p>
                    <p>11-) Sonar </p>
                    <p>13-) Solr  </p>


                </div>
            </div>
        </div>

    </div>
    <!--/panel-group-->
</div>

</body>
</html>